<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add book to <%= shopName %></title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <!-- Include the navigation bar -->
  <%- include('nav-bar.ejs') %>
    <header>
        <h1><%= shopName %>: Add Book</h1>
    </header>
    <main>
        <section class="add-book-form">
            <h2>Add a New Book</h2>
            <form method="POST" action="/bookadded">
                <div class="form-group">
                    <label for="name">Book Name:</label>
                    <input id="name" type="text" name="name" value="" placeholder="Enter the book name" required>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input id="price" type="text" name="price" value="" placeholder="Enter the book price" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Book">
                </div>
            </form>
        </section>
    </main>
</body>
</html>
