<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="navbar.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/addbook">Add Book</a>
        <a href="/bargainbooks">Bargain Books</a>
        <a href="/deleteuser">Delete User</a>
        <a href="/list">List</a>
        <a href="/listusers">List Users</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/search">Search</a> 
        <a href="/tvshow">TV Show</a>
        <a href="/weather">Weather</a>
        <a href="/logout">Log Out</a>

    </div>
</body>
</html>
